@import "kpmp-base.scss";
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');


p {
    font-weight: 300;
}

.landing h2,h3,h4,h5 {
    font-weight: 300;
}

.landing .title {
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .05rem;
}

.landing .subtitle {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 300;
}

.landing .sub-header {
    font-weight: 400;
}
.landing .sub-header.lowered {
    margin-top: 2rem;
}

.landing .data-summary {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 1.2em;
    line-height: 2.5;
    padding-top: .5em;
}

.inactive {
    color: lightgray;
}

.card {
    margin-left: 15px;
    margin-top: 15px;
}

.nephron-schema {
    max-width: auto;
    height: 50%;
}

.cell-type-list {
    list-style-type:none;
}

.search-box {
    margin-bottom: 15px;
}

.rt-tr.-odd {
    background: #cee5ff !important;
}

.rt-resizable-header-content {
    float: left;
}

.title {
    margin-top: 0px;
    font-size: 1.2em;
    line-height: 1.4;
    font-weight: 400;
}

 .summary-stats {
     display: flex;
     -webkit-box-pack: justify;
     justify-content: space-between;

     .stats-container {
        margin-right: 20px;
        white-space: nowrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-flex: 0;
    
        .stats-text {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
            display: inline-block;

            .stats-icon {
                padding: 25px;
                -webkit-box-flex: 1;
            }
        
            .inline-block {
                display: inline-block;
                vertical-align: middle;
            }
            .stats-number {
                color: $kpmp-blue;
                font-size: 3em;
                line-height: 1;
            }
            .stats-label {
                color: $kpmp-blue;
                text-transform: uppercase;
            }
        }
    }


 }
 

.landing .samples-by-datatype {
    font-size: 13px;
}
.landing .samples-by-datatype .rt-tbody .rt-td,
.landing .samples-by-datatype .rt-thead .rt-th{
    border-right: 1px solid rgba(0, 0, 0, 0)
}
.landing .samples-by-datatype .rt-tr.-odd {
    background-color: #e6f1ff !important;
}